#container{
	background-color: #FF910A;
	margin: 20vh auto;
	padding: 3vw;
	width: 44vw;
	height: 28vw;
	border-radius: 2vw;
}

#display{
	width: 97%;
	height: 9%;
	border-radius: 1vw;
	padding: 1vw;
	font-size: 1.5vw;
	background-color: black;
	color: gold;
	box-shadow: 0.3vw 0.3vw 0.3vw gold;
	outline: none;
	margin: 0 auto;
}

#grid{
	display: grid;
	grid-template-columns: auto auto auto auto;
	width: 97.5%;
	height: 80%;
	grid-gap: 0.8vw;
	padding: 1vw;
	margin: 2px auto;
	/*background-color: black;*/
}

.grid-item{
	text-align: center;
	background-color: black;
	color: gold;
	padding: 0.6vw;
	border-radius: 1vw;
	font-size: 1.8vw;
	box-shadow: auto auto auto;
	box-shadow: 0.2vw 0.2vw 0.2vw gold;
	outline: none;
}

.grid-item:hover{
	background-color: #8300E0;
	transition: 1s;
}

#clear-button{
	grid-column-start: 1;
	grid-column-end: 3;
}

#equals{
	grid-column-start: 3;
	grid-column-end: 5;
}

body{
	background: linear-gradient(324.6deg, #D207F3 0%, 
		rgba(255, 255, 255, 0) 100%), 
		linear-gradient(144.6deg, #6405FF 0%, 
		rgba(255, 255, 255, 0) 100%, 
		rgba(255, 250, 250, 0.0208333) 100%), #FFFFFF;
	overflow: hidden;
}

@media screen and (max-width: 480px) {
	#container{
		height: 450px;
		width: 450px;
		border-radius: 20px;
	} 
	.grid-item{
		padding: 1px;
		border-radius: 3vw;
		font-size: 5vw;
	}
	#display{
		font-size: 5vw;
		border-radius: 2vw;
	}
}
